.contenedorBotones {
    display: flex;
    justify-content: center;
    align-items: center;
}

.miBtn {
    background-color: #c1101a;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Madimi One';
}

p {
    font-size: 25px;
    font-weight: bold;
    margin: 30px;
}



.miBtn {
    background-color: grey;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    text-decoration: none;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.miBtn:hover {
    background-color: orange;
}