body {
    background-color: #303060; 
    font-family: 'Madimi One';
}

@font-face {
    font-family: 'Madimi One';
    src: url(../public/fonts/MadimiOne-Regular.ttf);
}

h2 {
    font-size: 45px;
    color: orange
}